html {
    height: 100%;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: center;
    background-color: #FFFFFF
}

td {
    text-align: center;
    vertical-align: middle;
}

object: focus {
    outline: none;
}

#flashContent {
    display: none;
}

.siteTitle {
	font-family:Cooper Black;
	font-size: 50px;
	text-align: center;
        vertical-align: text-top;
        color: #CCCCCC;
	}
