body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  background-color: #FFFFFF
}

.siteTitle {
	font-family:Cooper Black;
	font-size: 50px;
	text-align: center;
        vertical-align: text-top;
        color: #CCCCCC;
	}
